* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.content-home {
    height: 100vh;
    width: 100%;
    background-color: #171717;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.content-home nav h3 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 40px;
}

.content-home nav h3 span {
    color: #0137be;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 200;
    margin-right: 90px;
    margin-top: 20px;
    cursor: pointer;
    color: white;

}

li:hover {
    color: #0137be;
    transition: 0.5s;

}

.li-home {
    text-decoration: none;
    color: white;
}

.content-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 40px 0;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    color: white;

}

h1 span {
    color: #0137be;
}

.name-home p {
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding-left: 30px;

}

.content-discrition {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(23, 23, 23, 1) 14%, rgba(17, 34, 78, 1) 60%, rgba(1, 55, 190, 1) 100%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.discrition {
    color: white;
    font-size: 30px;
    font-weight: 500;
    width: 500px;
    padding-left: 50px;
}

.discrition p {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 100;
}


.projects {
    background-color: #171717;
    padding-top: 30px;
    padding-bottom: 50px;
    min-height: calc(100vh - 40px);
    width: 100%;



}

.projects h4 {
    color: white;
    font-size: 55px;
    font-weight: 300;
    text-align: center;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.card {
    height: 550px;
    width: 250px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin-right: 30px;
    font-size: 15px;
    font-weight: 400;
    gap: 25px;
}

.imgprojects{ 
    width: 100%;
    border-radius: 30px;
    transition: transform 0.5s;
    cursor: pointer;
    
}

.card img{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
 }
 
 .card:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.9);}

    .card h5{
    font-weight: 500;
    font-size: 20px;
    color: #7595e7;
}

.card p {
    margin: 30px 15px;
}

.card a {
    background: #0137be;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.card :active {
    background: transparent;
    border: 4px solid #0137be;
}

footer {
    background: black;
    height: 200px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

}

footer h5 {
    font-size: 17px;
    font-weight: 500;
}

footer p {
    font-size: 12px;
    font-weight: 300;
}

.links {
    display: inline-flex;
    gap: 30px;
}

.links a img {
    height: 60px;
    background: #0137be;
    border-radius: 50%;
}

.links a :hover {
    background: white;
    border: 4px solid #0137be;
}

@media screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        align-items: baseline;
    }

    .content-home nav h3 , li{
        font-size: 20px;
        margin-right: 4px;

    }

    .content-principal,
    .content-discrition {
        flex-direction: column;
        gap:100px
    }

    .name-home h1,
    .projects h4 {
        margin-top: 50px;
        font-size: 30px;
    }

    .img-home img {
        height: 300px;
    }

    .content-discrition img {
        height: 300px;
    }

    .discrition
    {

    font-size: 20px;
    max-width: 300px;

}

.projects{
    height: auto;
}
.card-content{    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 300px 300px 300px;
    gap: 60px;
    margin-top: 35px;
}
    .card{
       margin-bottom: 15px; 
    width: 210px;
    height: 350px;  
}

.card p{
    display: none;
}
footer{
    height: 100px;
flex-direction: row;
}
footer h5  {
    display: none;
}
.links{
    gap: 10px;
}
.links a img {
    height: 30px;

}
}